{% extends 'base.html'  %}

{% block body %}



<!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(https://www.hampshire.edu/sites/default/files/header_images/herosmall_96.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>about us</h4>
              <h2>our company</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Lorem ipsum dolor sit amet consectetur adipisicing</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
                        <img src="https://images.pexels.com/photos/2898170/pexels-photo-2898170.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Lorem ipsum dolor sit amet.</h4>
    <p>Donate-a-Book is an initiative by Online Books Store to help bridge the gap between those who want to help children read and those who need books for children. Together we will build a Reading India by making storybooks accessible to thousands of children and spread the joy of reading. Pratham Books was founded with the mission of putting “a book in every child’s hand”.              <ul class="social-icons">
                </p><br><br>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}