<!-- <h1>Built-In Login Logout</h1> -->
{#<h2>Reset Password</h2>#}
{#<form class="form" action="" method="POST" enctype="multipart/form-data">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>#}
{#</form>                    #}


{#{% extends 'base1.html' %}#}
{% load static %}

{% block body %}
    <footer>
        <form class="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row mr-0 ml-0">

                {#                <div class="col-md-8 content-us" >#}
                <div class="contact-form" >
                    <h3 class="text-uppercase">Reset Password</h3>
                    <h4>Enter your new password</h4>


                    <h4>{{form.as_p}}<br></h4>


                    {#                        <input type="text" class="form-control" placeholder="Your Name">#}
                    {#                        <input type="text" class="form-control" placeholder="Your Email">#}
                    <button type="submit">Send</button>

                </div>
            </div>
            </div>
            {#            <div class="copy pt-4 pb-4">#}
            {#                <p><a href="https://freehtml5.co/" target="_blank"> &copy; 2019 Girly</a>  &nbsp;  |  &nbsp; Design by <a href="https://freehtml5.co/" target="_blank">freehtml5.co</a> &nbsp; | &nbsp;  All rights reserved</p>#}
            </div>
        </form>
    </footer>
{% endblock %}