<!-- <h1>Built-In Login Logout</h1> -->

{#{% extends 'base1.html' %}#}
{% load static %}

{% block body %}
    <footer>

        <div class="row mr-0 ml-0">

            {#                <div class="col-md-8 content-us" >#}
            <div class="contact-form" >
                <h3 class="text-uppercase">Reset Password</h3>

                <h5>Hurray! Your password has been changed.</h5>



                {#                        <input type="text" class="form-control" placeholder="Your Name">#}
                {#                        <input type="text" class="form-control" placeholder="Your Email">#}
                <h5><a href="{% url 'login' %}">Click here to Login</a></h5>
            </div>
        </div>
        </div>
        {#            <div class="copy pt-4 pb-4">#}
        {#                <p><a href="https://freehtml5.co/" target="_blank"> &copy; 2019 Girly</a>  &nbsp;  |  &nbsp; Design by <a href="https://freehtml5.co/" target="_blank">freehtml5.co</a> &nbsp; | &nbsp;  All rights reserved</p>#}
        </div>
    </footer>
{% endblock %}